@charset 'UTF-8';

* {
	margin: 0px;
	padding: 0px;
}

div#header {
	width: 1535px;
	margin: auto;
	position: fixed;
	z-index: 999;
}

div#header h1{
	float: left;
}

div#header ul {
	float: right;
}

div#header ul li {
	float: left;
}

div#ABOUT {
	width: 1535px;
	height: 1200px;
	background: #ccc;
	position: absolute;
	top: 100%;
}